// COLORS
$color-primary: #fa7f28;
$color-primary-light: #fb9f53;
$color-primary-dark: #ea580c;

$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(216, 216, 216);

$color-grey-dark: #777;
$color-grey-dark-2: #222;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT:
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
